<div class="row">
  <div class="col-xs-offset-4 col-xs-4">
    <h1 style="text-align:center"> Welcome to ExpensesManager! </h1>
  </div>
<div>

<div class="row">
  <form class="form-horizontal col-xs-4 col-xs-offset-4">
    <fieldset>
      <legend> <%= displayText %> </legend>
    
      <div class="form-group">
        <label for="full_email" class="col-xs-2 control-label"> Email:</label>
        <div class="col-xs-10">
          <input type="text" id="full_email" class="form-control" name="user[email]">
        </div>
      </div>

      <div class="form-group">
        <label for="pswd" class="col-xs-2 control-label">Password</label>
        <div class="col-xs-10">
            <input type="password" class="form-control" id="pswd" name="user[password]">
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>        
        </div>
      </div>
    </fieldset>
  </form>
</div>