<%= JST["shared/new_form"]({displayText: "Sign Up"}) %>

<div class="row">
  <div class="col-xs-offset-6">
    <a href="#"> <button class="btn btn-info btn-sm">  Log In Page </button></a>
  </div>
</div>