<%= JST["shared/new_form"]({displayText: "Log In"}) %>

<br>
<div class="row">
  <div class="col-xs-offset-5">
    <form id="login" style="display:inline-block">
        <input type="hidden" name="user[email]" value="guest@gmail.com">
        <input type="hidden" name="user[password]" value="qwerty">


        <input type="submit" class="btn btn-info btn-sm" value="Login as Guest User ">
    </form>

    &nbsp
    <a href="#users/new" style="display:inline-block"> <button class="btn btn-info btn-sm">  Create Account </button> </a>
  </div>
</div>