<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
  <div class="row">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      </button>
    <a class="navbar-brand" href="#expenses/index" >ExpensesManager</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#expenses/new">Add a New Expense </a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right"  id="add_notif_btn">
        <li><a href="#logout">Logout</a></li>
      </ul>
    </div>
    </div>
  </div>
</div>  